.29_9 { 
	overflow:hidden;
}.e29_9 { 
	background-color:rgba(217.8125050663948, 213.0932343006134, 208.73698085546494, 1);
	width:1440px;
	height:1976px;
	position:absolute;
}.e29_17 { 
	width:401px;
	height:17px;
	position:absolute;
	left:707px;
	top:612px;
}.e31_178 { 
	width:484px;
	height:1034px;
	position:absolute;
	left:770px;
	top:482px;
	background-image:url(images/84268fcdc4f976ced09d794a3fe4df2c_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e29_19 { 
	width:484px;
	height:482px;
	position:absolute;
	left:160px;
	top:1012px;
	background-image:url(images/3367754fb88ccd0f9143e2c59f02e962_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e29_21 { 
	width:487px;
	height:482px;
	position:absolute;
	left:160px;
	top:482px;
	background-image:url(images/94a8c0f6e3793ac749cd71b36695284a_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e40_2700 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:284px;
	height:284px;
	position:absolute;
	left:42px;
	top:119px;
}.e40_2701 { 
	background-color:rgba(255, 255, 255, 1);
	width:1376px;
	height:87px;
	position:absolute;
	left:64px;
	top:218px;
}.e40_2702 { 
	border-radius:500px;
	background-color:rgba(218.00000220537186, 213.00000250339508, 209.00000274181366, 1);
	width:243px;
	height:243px;
	position:absolute;
	left:63px;
	top:140px;
}.e40_2703 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:225px;
	height:225px;
	position:absolute;
	left:72px;
	top:149px;
}.e40_2704 { 
	color:rgba(218.00000220537186, 213.00000250339508, 209.00000274181366, 1);
	width:154px;
	height:49px;
	position:absolute;
	left:941px;
	top:237px;
	font-family:Sen;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e40_2705 { 
	color:rgba(218.00000220537186, 213.00000250339508, 209.00000274181366, 1);
	width:164px;
	height:49px;
	position:absolute;
	left:1159px;
	top:237px;
	font-family:Sen;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e40_2706 { 
	color:rgba(218.00000220537186, 213.00000250339508, 209.00000274181366, 1);
	width:117px;
	height:49px;
	position:absolute;
	left:738px;
	top:237px;
	font-family:Sen;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e40_2707 { 
	color:rgba(182.00000435113907, 163.00000548362732, 148.000006377697, 1);
	width:277px;
	height:121px;
	position:absolute;
	left:340px;
	top:203px;
	font-family:Sen;
	text-align:left;
	font-size:96px;
	letter-spacing:0;
}.e40_2708 { 
	color:rgba(218.00000220537186, 213.00000250339508, 209.00000274181366, 1);
	width:154px;
	height:49px;
	position:absolute;
	left:941px;
	top:237px;
	font-family:Sen;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e40_2709 { 
	color:rgba(218.00000220537186, 213.00000250339508, 209.00000274181366, 1);
	width:164px;
	height:49px;
	position:absolute;
	left:1159px;
	top:237px;
	font-family:Sen;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}